@import 'styles/variables';

.body {
  @include screen();
}

.heading,
.subheading,
.paragraph,
.action {
  user-select: none;
}

.heading {
  margin-top: 15vh;
  font-size: 7.75rem;
  line-height: 6.25rem;
  color: white;
  
  @include screen-md {
    margin-top: 10vh;
    font-size: 5.5rem;
    line-height: 4.5rem;
    margin-bottom: 0.5rem;
  }

  @include screen-sm {
    margin-top: 10vh;
    font-size: 3.25rem;
    line-height: 2.75rem;
    margin-bottom: 0.5rem;
    span {
      margin-right: 30vw;
    }
  }
}

.subheading {
  font-size: 5.75rem;
  line-height: 4.5rem;
  color: #eaf991;

  @include screen-md {
    font-size: 4.5rem;
    line-height: 3.75rem;
  }

  @include screen-sm {
    font-size: 2.5rem;
    line-height: 2.25rem;
    span {
      margin-right: 30vw;
    }
  }
}

.paragraph {
  color: #dcdcdc;
  max-width: 50vw;
  padding-top: 4rem;
  font-size: 1.2rem;
  line-height: 1.5rem;

  @include screen-md {
    max-width: 65vw;
    font-size: 1.3rem;
  }

  @include screen-sm {
    max-width: 100vw;
    font-size: 1rem;
    line-height: 1.25rem;
    padding-top: 2.75rem;
  }
}

.action {
  background-color: transparent;
  color: $theme-yellow;
  border: 1px solid $theme-yellow;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin-top: 4rem;
  width: 15.5rem;
  letter-spacing: 2.5px;
  transition: letter-spacing .3s;

  &:hover {
    cursor: pointer;
    letter-spacing: 3.5px;
  }

  @include screen-sm {
    font-size: 1.1rem;
    margin-top: 3.25rem;
    width: 100%;
  }
}
