@import 'styles/variables';

@mixin home-image {
  position: absolute;
}

.body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: linear-gradient(0deg, rgba(234,249,145,1) 45%, rgba(158,241,162,1) 100%);
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  @include screen-xl {
    max-width: $xl;
    margin: 0 auto;
  }
}

.text {
  z-index: 135;
  background: rgba($background-color, 0.75);
  padding: 20px;
  margin-bottom: 275px;
  width: 100vw;
  user-select: none;
}

.intro legend, .title, .subtitle {
  color: white;
  filter: drop-shadow(0 0 1px black);
  text-align: center;
}

.intro {
  border-top: 2px solid white;
  & legend {
    font-family: 'Montserrat';
    font-size: 1.75rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    padding: 0 12px;
  }
}

.title {
  font-family: 'Bebas Neue';
  font-size: 3.75rem;
  line-height: 3.75rem;
  letter-spacing: 5px;
  text-transform: uppercase;
}

.subtitle {
  font-family: 'Montserrat';
  font-size: 1.9rem;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase;
}

.layer-1 {
  aspect-ratio: 7.2;
  width: 100.2vw;
  z-index: 150;
  bottom: -1px;
}

.layer-2 {
  aspect-ratio: 4;
  width: 100.1vw;
  z-index: 140;
  bottom: 0;
}

.layer-3 {
  aspect-ratio: 2.1;
  width: 100.1vw;
  z-index: 130;
  bottom: 0;
}

.layer-4 {
  aspect-ratio: 1.5;
  width: 100vw;
  z-index: 120;
  bottom: 0;
}

