@import 'styles/variables';

.scrolling-element {
  position: absolute;
}

.body {
  height: 100svh;
  width: 100svw;
  overflow: hidden;
  background: linear-gradient(0deg, #eaf991 45%, #9ef1a2 100%);
  position: relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.greeting {
  font-size: 35rem;
  color: $background-color;
  color: $dark-green;
  z-index: 135;
  margin-left: 10px;

  @include screen-sm {
    font-size: 7.5rem;
  }
}

.layer-1 {
  @extend .scrolling-element;
  aspect-ratio: 7.2;
  width: 100.2vw;
  z-index: 150;
  bottom: -1px;

  @include screen-md {
    width: 300vw;
    aspect-ratio: 8;
  }

  @include screen-sm {
    width: 450vw;
    aspect-ratio: 8;
  }
}

.layer-2 {
  @extend .scrolling-element;
  aspect-ratio: 4;
  width: 100.1vw;
  z-index: 140;
  bottom: -30px;

  @include screen-md {
    width: 250vw;
    aspect-ratio: 4;
    right: -10px;
  }

  @include screen-sm {
    width: 350vw;
    aspect-ratio: 4;
    right: -10px;
  }
}

.layer-3 {
  @extend .scrolling-element;
  aspect-ratio: 4.5;
  width: 100.1vw;
  z-index: 130;
  bottom: 0;

  @include screen-md {
    display: none;
  }
  @include screen-sm {
    display: none;
  }
}

.layer-4 {
  @extend .scrolling-element;
  aspect-ratio: 2.8;
  width: 105vw;
  z-index: 120;
  bottom: 0;

  @include screen-md {
    width: 275vw;
    margin-left: 15vw;
    aspect-ratio: 2.5;
  }

  @include screen-sm {
    width: 450vw;
    margin-left: 25vw;
  }
}

.layer-5 {
  @extend .scrolling-element;
  aspect-ratio: 2.2;
  width: 100vw;
  z-index: 110;
  bottom: 0;

  @include screen-md {
    width: 250vw;
  }

  @include screen-sm {
    width: 250vw;
    aspect-ratio: 1.5;
  }
}

.layer-6 {
  @extend .scrolling-element;
  aspect-ratio: 1.55;
  width: 100vw;
  z-index: 100;
  bottom: 0;

  @include screen-md {
    width: 225vw;
    aspect-ratio: 1.35;
  }

  @include screen-sm {
    width: 250vw;
    aspect-ratio: 1.15;
  }
}
